@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@1,500&family=Inter:wght@100..900&family=Orbitron&family=Poppins:wght@200;300;400;700;800&family=Quicksand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
:root{
    --cinza: #cdc4c4;
}
.ativo{
    transition: 0.3s;
}
.ativo> *:not(#alerta)::after{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    
}


.container-geral{
    background-image: url(https://images.unsplash.com/photo-1511881830150-850572962174?w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGNpdHl8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}



.container-todo{
    background-color: #fff;
    max-width: 550px;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    border-radius:10px;
    
}
.title{
    margin-bottom: 2rem;
    font-size: 20px;
    border-bottom: 0.8px solid var(--cinza);
}
.title h1{
    margin-bottom: 1rem;
}
.form{
    text-align: left;
    margin-bottom: 2rem;
    max-width: 400px;
    
}
.label{
    font-size:20px;
    margin-bottom: 0.7rem;
}
.form input{
    padding:  0.7rem 1rem;
    max-width:320px ;
    width: 100%;
    outline: none;
    border-radius: 5px;
}
button{
    padding: 0.7rem 1rem;
    background-color: #ffffff;
    border:1px solid #12122e;
    color: #12122e;
    border-radius: 5px;
    transition: 0.3s ;
    cursor: pointer;
    
}
button:hover{
    background-color: #12122e;
    color: white;
    border:1px solid #fff;
    scale: 1.18;
}
.container-organizacao{
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--cinza);
}
.container-pesquisa,.container-filtro{
    margin: 1.5rem 0 1.5rem 0;
    text-align: left;
    padding:1rem;
}
.container-filtro{
    border-left: 1px solid var(--cinza);
}

.container-pesquisa input,
.container-filtro input{
    padding:  0.7rem 1rem;
    outline: none;
    border-radius: 5px;
}
.container-pesquisa input{
    max-width: 250px;
    min-width: 200px;
}
.container-filtro input{
    width: 150px;
}
.card{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    background-color: #12122e;
    box-shadow: 10px 7px 10px rgb(155, 151, 151);
    border-radius: 5px;
    display: flex;
    color: white;
    height: 80px;
    width: 100%;
    
}
.card p{
    font-size: 20px;
    font-weight: 200;
    
    
}


.completa{
    background-color: #fff;
    color: #12122e;
    border: 2px solid #12122e;
    opacity: 0.5;
}
.completa p{
    text-decoration: line-through;
}

#alerta{
    background-color: #fff;
    padding: 2rem;
    position: fixed;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  
    border:1px solid #12122e;
    text-align: center;
    
    
}
#alerta input{
    padding:  0.7rem 1rem;
    max-width:320px ;
    width: 100%;
    outline: none;
    border-radius: 5px;
    margin-right: 6px;
    margin-top: 1rem;
}

.hiden{
    display: none;
}